{% extends 'app/base.html' %}
{% block contenido %}
    <h1 class="h3 mb-4 text-gray-800 ">Actividades</h1>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Porcentaje Avance</th>
            <th>Responsable</th>
            <th>Fecha Creación</th>
            <th>Proyecto</th>
        </tr>
        {% for actividad in actividades %}
        <tr>
            <td>{{actividad.id}}</td>
            <td>{{actividad.nombre}}</td>
            <td>{{actividad.porcentaje_avance}}</td>
            <td>{{actividad.responsable}}</td>
            <td>{{actividad.fecha_creacion}}</td>
            <td>{{actividad.proyecto_id}}</td>
        </tr>
        {% endfor%}
    </table>
{% endblock %}
