{% extends 'app/base.html' %}
{% block contenido %}
    <h1 class="h3 mb-4 text-gray-800 ">Crear Proyecto</h1>
    <form class="user" action="{% url 'post_crear_proyecto' %}" method="POST" >
        {% csrf_token %}
        <div class="form-group>
          <label for="nombre">Nombre del Proyecto</label>
          <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre Proyecto">
        </div>
        <div class="form-group">
          <label for="responsable">Responsable del proyecto</label>
          <input type="text" class="form-control" id="responsable" name="responsable" placeholder="Responsable proyecto">
        </div>
        <button type="submit" class="btn btn-primary">Agregar</button>
      </form>
   
{% endblock %}
