{% extends 'app/base.html' %}
{% block contenido %}
    <h1 class="h3 mb-4 text-gray-800 ">Proyectos</h1>
    <a href="{% url 'form_crear_proyecto' %}" class="btn btn-primary btn-sm">Crear Proyecto</a>
    <table class="table table-striped">
        <tr>
            <th>Nombre</th>
            <th>Responsable</th>
            <th></th>
        </tr>
        {% for proyecto in proyectos %}
        <tr>
            <td>{{proyecto.nombre}}</td>
            <td>{{proyecto.responsable}}</td>
            <td><a href="{% url 'proyecto' proyecto.id %}" class="btn btn-primary">Ver</a></td>
        </tr>
        {% endfor%}
    </table>
    <a href="{% url 'actividades' %}"> Ir a actividades</a>
{% endblock %}
